.vux-rater {
  line-height: 18px;
  .vux-rater-inner span{
    font-size: 18px !important;
  }
}

// xnumber
.xnumber {
  .vux-number-selector {
    padding: 0.06rem 0;
    border: 0;
    color: #A3A3AF;
    svg {
      fill: #A3A3AF;
    }
  }
  .vux-number-selector-plus {
    margin-right: 0;
  }
  .weui-cells {
    margin-top: 0;
    background: none;
  }
  .weui-cell {
    padding: 0.01rem 0;
  }
  .weui-cells:before,.weui-cells:after {
    border: 0;
  }
  .vux-number-input {
    height: 14px;
    font-size: 14px;
    padding: 6px 0;
    border: 0;
  }
}

.shippingTime {
  position: relative;
  .weui-cells {
    width: 100%;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .weui-cells:before,.weui-cells:after {
    border: 0;
  }
  .weui-cell_access .weui-cell__ft:after {
    border-width: 0;
  }
  .vux-no-group-title {
    height: 0.8rem;
    margin-top: 0;
  }
  .vux-cell-value {
    display: none;
  }
  .weui-cell_access:active {
    background-color: rgba(0,0,0,0)
  }
}

